<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Serve Flash client/map/item SWFs directly through IIS.
         remove+add avoids IIS 500.19 duplicate MIME-map errors when the
         server already has a global .swf MIME mapping. -->
    <staticContent>
      <remove fileExtension=".swf" />
      <mimeMap fileExtension=".swf" mimeType="application/x-shockwave-flash" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="public/index.php" />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough" />
    <rewrite>
      <rules>
        <rule name="Aera - Block Private Framework Folders" stopProcessing="true">
          <match url="^(app|config|routes|storage|views|server)(/.*)?$" ignoreCase="true" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>

        <rule name="Aera - Public Static Files" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <rule name="Aera - Public Directories" stopProcessing="true">
          <match url="^(assets|gamefiles|static)(/.*)?$" ignoreCase="true" />
          <action type="Rewrite" url="public/{R:0}" />
        </rule>

        <rule name="Aera Foundation Front Controller" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="public/index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
